<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>新增</title>
</head>
<style>
    body {
        margin: 0 auto;
        text-align: center
    }

    .form-group {
        margin-bottom: 10px;
    }

    div.main {
        margin: 0 auto;
        width: 500px;
    }

    div.main form {
        margin-top: 10px;
    }

    input.form-control {
        width: 300px;
    }
</style>
<body>
<link rel="stylesheet" type="text/css" href="http://bitcoinrobot.cn/file/assets/bootstrap.3.1.1/bootstrap.min.css">
<div class="main">
    {% include "nav.html" %}
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">*手机号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="phone">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">*密码</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="password">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">iccid</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="icc_id">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">序号</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="sort">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">备注</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="remark">
            </div>
        </div>
        {#    用户码：#}
        <input type="hidden" id="user"><br/>
        <input type="button" onclick="save()" value="添加" class="btn btn-primary">
    </form>
</div>
<script src="http://bitcoinrobot.cn/file/assets/dx_encrypt.js"></script>
<script>

    initUser = () => {
        document.getElementById("user").value = localStorage.getItem("user");
    };

    save = (user) => {
        const phone = document.getElementById("phone").value;
        const password = document.getElementById("password").value;
        if (!phone) {
            alert("手机号不能为空！");
            return;
        }
        if (!password) {
            alert("密码不能为空！");
            return;
        }
        let formData = new FormData();
        formData.append("phone", phone);
        formData.append("password", password);
        formData.append("encryptPassword", valAesEncryptSet(password));
        formData.append("icc_id", document.getElementById("icc_id").value);
        formData.append("sort", document.getElementById("sort").value);
        formData.append("remark", document.getElementById("remark").value);
        formData.append("user", document.getElementById("user").value);
        const opts = {
            method: "POST",   //请求方法
            body: formData,   //请求体
        };
        fetch("/addCard/", opts).then((data) => {
            if (data.ok) {
                data.text().then(res => {
                    window.location.href = "/query?user=" + localStorage.getItem("user");
                    console.log(res);
                })
            } else {
                alert(data.error())
            }
        });
    };

    (() => {
        initUser();
    })()
</script>
</body>
</html>