<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>新增</title>
</head>
<body>
{% include "nav.html" %}
<form>
    *手机号：<input type="text" id="phone"><br/>
    *密码：<input type="text" id="password"><br/>
    iccid：<input type="text" id="icc_id"><br/>
    序号：<input type="number" id="sort" maxlength="3"><br/>
    备注：<input type="text" id="remark"><br/>
    {#    用户码：#}
    <input type="hidden" id="user"><br/>
    <input type="button" onclick="save()" value="添加">
</form>
<script src="../../login/dx_encrypt.js"></script>
<script>

    initUser = () => {
        document.getElementById("user").value = localStorage.getItem("user");
    };

    save = (user) => {
        const phone = document.getElementById("phone").value;
        const password = document.getElementById("password").value;
        if (!phone) {
            alert("手机号不能为空！");
            return;
        }
        if (!password) {
            alert("密码不能为空！");
            return;
        }
        let formData = new FormData();
        formData.append("phone", phone);
        formData.append("password", password);
        formData.append("encryptPassword", valAesEncryptSet(password));
        formData.append("icc_id", document.getElementById("icc_id").value);
        formData.append("sort", document.getElementById("sort").value);
        formData.append("remark", document.getElementById("remark").value);
        formData.append("user", document.getElementById("user").value);
        const opts = {
            method: "POST",   //请求方法
            body: formData,   //请求体
        };
        fetch("/addCard/", opts).then((data) => {
            if (data.ok) {
                data.text().then(res => {
                    window.location.href = "/query?user=" + localStorage.getItem("user");
                    console.log(res);
                })
            } else {
                alert(data.error())
            }
        });
    };

    (() => {
        initUser();
    })()
</script>
</body>
</html>