<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>查看</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="http://bitcoinrobot.cn/file/assets/bootstrap.3.1.1/bootstrap.min.css">
{% include "nav.html" %}
<button onclick="quertNetAll()" class="btn btn-primary">一键查询</button>
<button onclick="emptyNetAll()" class="btn btn-danger">清空流量记录</button>
<table class="table table-striped">
    <thead>
    <td>序号</td>
    <td>手机号</td>
    <td>流量</td>
    <td>icc_id</td>
    <td>备注</td>
    <td>更新时间</td>
    <td>操作</td>
    </thead>
    <tbody>
    {% for item in data %}
        <tr id="{{ item.pk }}">
            <td style="width: 5%"><input type="number" style="width:40px" class="sort" maxlength="3"
                                         value="{{ item.sort }}"></td>
            <td style="width: 12%"><input type="text" class="phone" value="{{ item.phone }}"></td>
            <td style="width: 30%" class="net">{{ item.net }}</td>
            <td style="width: 12%"><input type="text" class="icc_id" value="{{ item.icc_id }}"></td>
            <td style="width: 12%"><input type="text" class="remark" value="{{ item.remark }}"></td>
            <td style="width: 12%">{{ item.update|date:'Y-m-d H:i:s' }}</td>
            <td style="width: 17%">
                <button class="btn btn-primary" onclick="queryNet({{ item.pk }},true)">查询</button>
                <button class="btn btn-default" onclick="save({{ item.pk }})">保存</button>
                <button class="btn btn-danger" onclick="del({{ item.pk }})">删除</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>

    counter = {
        total: 0,
        count: 0
    };

    loading = {
        "pk": false
    };

    emptyNetAll = () => {
        let formData = new FormData();
        formData.append(" user", localStorage.getItem("user"));
        const opts = {
            method: "POST", //请求方法
            body: formData, //请求体
        };
        fetch("/emptyNetAll/", opts).then((data) => {
            if (data.ok) {
                data.text().then(res => {
                    console.log(res);
                    window.location.href = "/query?user=" + localStorage.getItem("user");
                })
            } else {
                alert(data.error())
            }
        });
    };

    quertNetAll = () => {
        counter = {
            total: 0,
            count: 0
        };
        const callback = () => {
            counter.count++;
            if (counter.count === counter.total) {
                window.location.href = "/query?user=" + localStorage.getItem("user");
            }
        };
        {% for item in data %}
            counter.total++;
            queryNet({{ item.pk }}, false, callback);
        {% endfor %}
    };

    queryNet = (pk, refresh, callback) => {
        if (loading[pk]) {
            return false;
        }
        let formData = new FormData();
        formData.append("pk", pk);
        const opts = {
            method: "POST", //请求方法
            body: formData, //请求体
        };
        loading[pk] = true;
        fetch("/queryNet/", opts).then((data) => {
            if (data.ok) {
                data.text().then(res => {
                    loading[pk] = false;
                    setNetValue(pk, res);
                    if (refresh) {
                        window.location.href = "/query?user=" + localStorage.getItem("user");
                    }
                    if (typeof  callback === "function") {
                        callback();
                    }
                    console.log(res);
                })
            } else {
                loading[pk] = false;
                alert(data.error())
            }
        });
    };

    setNetValue = (pk, net) => {
        const tr = document.getElementById(pk);
        tr.getElementsByClassName("net")[0].innerHTML = net;
    };

    save = (pk) => {
        const tr = document.getElementById(pk);
        let formData = new FormData();
        formData.append("pk", pk);
        formData.append("sort", tr.getElementsByClassName("sort")[0].value);
        formData.append("phone", tr.getElementsByClassName("phone")[0].value);
        {#formData.append("password", tr.getElementsByClassName("password")[0].value);#}
        formData.append("icc_id", tr.getElementsByClassName("icc_id")[0].value);
        formData.append("remark", tr.getElementsByClassName("remark")[0].value);
        const opts = {
            method: "POST", //请求方法
            body: formData, //请求体
        };
        fetch("/update/", opts).then((data) => {
            if (data.ok) {
                data.text().then(res => {
                    window.location.href = "/query?user=" + localStorage.getItem("user");
                    console.log(res);
                })
            } else {
                alert(data.error())
            }
        });
    };

    del = (pk) => {
        const tr = document.getElementById(pk);
        let formData = new FormData();
        formData.append("pk", pk);
        const opts = {
            method: "POST", //请求方法
            body: formData, //请求体
        };
        fetch("/delete/", opts).then((data) => {
            if (data.ok) {
                data.text().then(res => {
                    window.location.href = "/query?user=" + localStorage.getItem("user");
                    console.log(res)
                })
            } else {
                alert(data.error())
            }
        });
    };

    loadInfo = (pk) => {
        fetch(`/loadInfo/?pk=${pk}`).then((data) => {
            if (data.ok) {
                data.text().then(res => {
                    setNetValue(pk, res);
                })
            } else {
                setNetValue(pk, data.error());
            }
        });
    };


    setInterval(() => {
        for (let i in loading) {
            if (loading[i]) {
                loadInfo(i);
            }
        }
    }, 500)
</script>
</body>
</html>