<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>日志</title>
    <script src="http://bitcoinrobot.cn/file/assets/bootstrap.4.1.3/js/jquery.slim.min.js"></script>
</head>
<body>
{% include "nav.html" %}
<div id="log-container" style="overflow-y:scroll;margin: 0 auto;text-align: left;width: 800px">
    <div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        if ($(window).width() <= 800) {
            $("#log-container").style.width = $(window).width();
        }
        // 指定websocket路径
        var websocket = new WebSocket("ws://bitcoinrobot.cn:9090/");
        websocket.onmessage = function (event) {
            // 接收服务端的实时日志并添加到HTML页面中
            $("#log-container div").prepend(`<p>${event.data.substring(2, event.data.length - 1)}</p>`);
            // 滚动条滚动到最低部
            $("#log-container").scrollTop($("#log-container div").height() - $("#log-container").height());
        };
        websocket.onopen = function (event) {

        };
        websocket.onclose = function (event) {
            alert("连接已关闭！")
        };
    });
</script>
</body>
</html>
