<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://bitcoinrobot.cn/file/assets/bootstrap.4.1.3/css/bootstrap.min.css">
    <script src="http://bitcoinrobot.cn/file/assets/bootstrap.4.1.3/js/jquery.slim.min.js"></script>
    <script src="http://bitcoinrobot.cn/file/assets/bootstrap.4.1.3/js/bootstrap.min.js"></script>
    <title>在线</title>
</head>
<body>
{% include "nav.html" %}
<table class="table table-striped">
    <thead>
    <td>标识</td>
    <td>时间</td>
    </thead>
    <tbody>
    {% for item in data %}
        <tr style="height: 20px">
            <td><span>{{ item.identity }}</span></td>
            <td><span>{{ item.update|date:'Y-m-d H:i:s'  }}</span></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>

</script>
</body>
</html>