<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bitcoinrobot.cn/file/assets/bootstrap.4.1.3/css/bootstrap.min.css">
    <script src="https://bitcoinrobot.cn/file/assets/bootstrap.4.1.3/js/jquery.slim.min.js"></script>
    <script src="https://bitcoinrobot.cn/file/assets/bootstrap.4.1.3/js/bootstrap.min.js"></script>
    <title>项目</title>
</head>
<body>
{% include "nav.html" %}
<table class="table table-striped">
    <thead>
    <td>项目名</td>
    <td>热度</td>
    <td>价格</td>
    <td>剩余</td>
    <td>后台</td>
    </thead>
    <tbody>
    {% for item in data %}
        <tr style="height: 20px">
            <td><span>{{ item.projectName }}</span></td>
            <td><span>{{ item.hot }}</span></td>
            <td><span>{{ item.price }}</span></td>
            <td><span>{{ item.remains }}</span></td>
            <td><a href="{{ item.backgroundAddress }}" target="_blank">{{ item.backgroundAddress }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>

</script>
</body>
</html>